@model LearnPolish.Models.Exam

@{
    ViewBag.Title = "Details";
}

<h2>Падрабязнасці</h2>

<div>
    <h4>Тэсты</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ExamTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Рэдагаваць", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Да лiсты", "Index", new { area = "" }, new { @class = "btn btn-outline-dark" })
</p>
