@{
        ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/LessonImg/Glowne.jpg" width="1040" height="400" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Вучым польски</h2>
        <p>
            Дапаможнік польскага Вучым польски ўключаюць наступныя ўрокі і тэмы: адукацыя, бізнес, людзі, дом, прырода, жывёлы,
            навука, спорт і турызм, мастацтва, ежа, тэхніка, прыгажосць і здароўе, матэматыка, фізіка , хімія, астраномія,
            медыцына, а таксама многія іншыя тэмы і ўрокі для самастойнага вывучэння польскага...
        </p> 
    </div>
    <div class="col-md-4">
        <h2>Як працуе?</h2>
        <p>У вас будзе магчымасць вучыць урокі польскай мовы, якія ўключаюць у сябе, практыкаванні, тэсты на польскай, словы і фразы.
        Вы зможаце лёгка і хутка вывучыць польскую анлайн і заўсёды зможаце абнавіць слоўнікавы запас польскай мовы незалежна ад таго,
        ці пачалі Вы вывучаць польскую ці з'яўляецеся носьбітам мовы.</p> 
    </div>
    <div class="col-md-4">
        <h2>Што гэта?</h2>
        <p>
            Дапаможнік польскай мовы, дапаможа атрымаць поспех у самастойным вывучэнні ўрокаў, картак, фраз і слоў,
            Вам неабходна выкарыстоўваць навучальныя матэрыялы як мага больш эфектыўна. 
            Чым часцей Вы паўтараеце тое, што вывучылі, тым лепшым будзе Ваша веданне польскай мовы!
        </p> 
    </div>
</div>